<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.frba.abclandia"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="19" />
    
    <supports-screens android:smallScreens="false"
                      android:normalScreens="false"
                      android:largeScreens="false"
                      android:xlargeScreens="true"
                      android:requiresSmallestWidthDp="600" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
           	android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".MaestrosActivity"
            android:parentActivityName="android.app.LoginActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:screenOrientation="landscape"
                android:value="android.app.ListActivity" />
        </activity>
        <activity
            android:name=".AlumnosActivity"
            android:parentActivityName="android.app.MaestroListActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:screenOrientation="landscape"
                android:value="android.app.ListActivity" />
        </activity>
        <activity
            android:name=".ActividadesActivity"
            android:parentActivityName="android.app.LoginActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:screenOrientation="landscape"
                android:value="android.app.ActividadesActivity" />
        </activity>
        <activity
            android:name=".JugarActivity"
            android:screenOrientation="landscape">
            
        </activity>
        <activity
            android:name="com.example.abclandia.GameOneActivity"
            android:screenOrientation="landscape" >
        </activity>
         <activity
            android:name="com.example.abclandia.GameTwoActivity"
            android:screenOrientation="landscape" >
        </activity>
         <activity
            android:name="com.example.abclandia.GameThreeActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.abclandia.GameFourActivity"
            android:screenOrientation="landscape" >
        </activity>
         <activity
            android:name="com.example.abclandia.GameFiveActivity"
            android:screenOrientation="landscape" >
        </activity>
        
        <activity
            android:name="com.example.abclandia.GameSixActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.abclandia.WinActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.abclandia.GameWinActivity"
            android:screenOrientation="landscape" >
        </activity>
        
     
        <activity
            android:name=".GameActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.abclandia.CardLetterPlayerActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.abclandia.AbcPlayerActivity"
            android:screenOrientation="landscape" >
        </activity>
    </application>

</manifest>
